# === Runtime Data (JANGAN PERNAH COMMIT) ===
vip_collections.json
vip_links.json
stream_links.json

data/user_data.json
random_quota.json
user_activity.json

logs/
*.log

# Telegram session
*.session*
*.session-journal

# Temp & backup
*.now
*.bak
*.old
*backup*
*.tmp

# Env
.env

